<div class="col s12 m7">
    <h2 class="header">Farmers to city</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="http://bogorodskoe43.ru/uploads/posts/2015-09/1442743911_1000.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>Как это работает. Заполните анкету, добавьте ваш товар.</p>
            </div>
            <div class="card-action">
                <a href="http://localhost:8080/">Главная</a>
            </div>
        </div>
    </div>
</div>

<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='Sale Product')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 section">
            <div class="right-align" data-th-include="fragments/layout :: logoutFragment"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>Sale Product</h1>
            <form data-th-action="@{/add}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Product name" id="name" name="name" type="text" class="validate" required>
                        <label for="name">Product name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="comment" name="comment" class="materialize-textarea" required></textarea>
                        <label for="comment">Product comment</label>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="image" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Add</button>
            </form>

        </div>
    </div>


    <div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>
</div>
</body>
</html>