<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='Add Product')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 section">
            <div class="right-align" data-th-include="fragments/layout :: logoutFragment"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>Add Product</h1>
            <form data-th-action="@{/add}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Product name" id="name" name="name" type="text" class="validate" required>
                        <label for="name">Product name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="content" name="content" class="materialize-textarea" required></textarea>
                        <label for="content">Product content</label>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="image" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Add</button>
            </form>

        </div>
    </div>


    <div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>
</div>
</body>
</html>